---
layout: page
---
<div class="post">
  <article>
    <div class="description">
      <p>I love listening to music in my spare time. I also have an <a href="https://www.instagram.com/egelistens"> Instagram blog </a> where I write about the albums I listen to from time to time. I like to dig into the details of the music, but at the end of the day, I'm not more than a casual listener. I listen to basically everything, but the main genres I'm into are alternative/indie rock, permanent wave, and art pop. Below is a small list of my favorite albums. If you were to listen to only one album or one song from this list, I would definitely recommend Humbug / Crying Lightning. In addition to the albums, the playlist containing my favorite songs which can define my music taste  <a href="https://open.spotify.com/playlist/5stjMvOcwbi2QePJf926A4?si=ed9f5a2474c84465"> can be reached via this link </a>, you can reach to my Spotify from this link as well! And if you are one of the few people who still uses last.fm, you can see <a href="https://www.last.fm/user/egedemirci">  my entire music history from past to present. </a> 
      
       </p>
    </div>

    {% if page.profiles %}
      <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        {% for profile in page.profiles %}
          <div class="profile" style="text-align: center; margin: 10px;">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

        <div class="description">

<p>I am also interested in cinema, although not as much as music. While I was at Sabancı, I was the president of the cinema club for a long time. I can say that I am a much more mainstream audience in cinema. You can also see my movie archive on <a href="https://www.letterboxd.com/egedemirci/">my Letterboxd account.</a></p>

    </div>


    <p>Apart from these, I have been in love with football since my childhood. I am a fan of Besiktas and Manchester United. My favorite periods from history are Sir Alex Ferguson's 07-08 Manchester United, which won the Champions League in Moscow, and the 2015-2017 Beşiktaş squad, which was the best team in the league and almost made it to the semi-finals of the Europa League. World Cup tournaments have a special place in my heart (2010 South Africa, 2014 Brazil), it always brings back a lot of memories from my childhood. </p>

  </article>
</div>
